* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#f87127, #f69209);
    font-family: 'Arial', sans-serif;
    scrollbar-width: none;
}

main {
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 4em;
    margin-bottom: 20px;
}

#titlecontain {
    width: 60%;
    height: 15vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hrzinho {
    border: 2px solid #fff;
    background-color: #fff;
    margin-top: 2%;
}

header {
    position: relative;
    height: 30vh;
    width: 100%;
}

.lineflex {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}

.cardoption {
    width: 20vw;
    height: 20vw;
    background-color: #fff;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.cardoption:hover {
    transform: scale(1.05);
}

.cardoption > h1 {
    color: #f69209;
    font-size: 2.5em;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #f69209;
    font-size: 1.5em;
}

.resumo {
    width: 20vw;
    height: 50%;
    margin-top: 5%;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.cardoption:hover .resumo {
    height: 60%;
}

#infocursosdiv {
    display: none;
    height: auto;
    width: 80vw;
    margin-left: 10vw;
    border-radius: 10px;
}

#infocursosdiv p {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    text-align: left;
    margin: 0 3% 0 3%;
    padding: 3% 0 3% 0;
}

#volta {
    position: absolute;
    left: 5%;
    top: 40%;
    display: none;
    width: 10%;
    height: 20%;
    border: none;
    color: #f69209;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.vermais {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.resumo p {
    text-align: justify;
    margin: 0 20px 0 20px;
    font-size: 1em;
}

#calc {
    width: 10%;
    height: 50px;
    border: none;
    color: #f69209;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
}

#textContaininfo,
#textContaininfo2 {
    width: 90%;
    height: auto;
    border-radius: 20px;
    margin: auto;
    background-color: #ffaa24;
    margin-bottom: 20px;
    padding: 20px;
}
